{% extends "base.html" %}
{% block title %}Friends for {{ username }}{% endblock %}
 
 
 
 
{% block head %}<h1>Friends for {{ username }}</h1>{% endblock %}



{% block content %}
<link rel="stylesheet" href="/static/F_style.css" type="text/css"/>
<div id="hello"><h2>Friend List</h2>
 
{% if friends %}
<ul class="friends">
	{% for friend in friends %}
	<li><a href="/user/{{ friend.username }}/">
			{{ friend.username }}</a></li>
	{% endfor %}
</ul>
 

{% else %}
<p>No Friends Found.</p>
{% endif %}
<h2>Latest Friend Bookmarks</h2>
</div> 
{% endblock %}
