#user{

      
	 
	font-weight: bold;
	padding:9px;
	text-align:left;
	background-color: #f8c445;
 margin:20px 120px 20px 120px;
 float:right;
	 
}

#hi{
	
	text-align:center;
	font-weight: bold;
	
}
#switch2{
	text-align:left;
	background-color: f9b410;
	margin:20px 80px 20px 80px;
	padding:9px;
	
}